.theme-crtlobby:root {
  --color-base: hsl(180, 100%, 3%);
  --color-primary: hsl(180, 100%, 46%);
  --color-secondary: hsl(180, 80%, 12%);
  --color-text: hsl(180, 100%, 46%);
  --color-label: hsl(180, 70%, 40%);
  --base-gradient-spread: 0;
  --candystripe-odd: hsla(180, 100%, 20%, 0.35);

  --button-color-default: hsl(180, 100%, 46%);
  --button-background-default: transparent;
  --button-background-selected: hsl(180, 100%, 46%);
  --button-border-width: 1px;
  --section-background: hsla(180, 100%, 3%, 0.9);
  --section-color-title: hsl(180, 100%, 46%);
  --tab-background-selected: hsla(180, 100%, 46%, 0.25);
  --tab-color: hsl(180, 100%, 46%);
  --tab-color-selected: hsl(180, 100%, 60%);

  .Layout__content {
    background-image: none;
    background-color: transparent;
  }

  .Button {
    font-family: monospace;
    font-weight: bold;
    color: hsl(180, 100%, 46%);
    background-color: transparent;
    border: 1px solid hsl(180, 100%, 46%);

    &:hover {
      background-color: hsla(180, 100%, 46%, 0.2);
    }

    &--selected {
      background-color: hsl(180, 100%, 46%);
      color: hsl(180, 100%, 3%);
    }

    &--disabled {
      color: hsl(180, 40%, 30%);
      border-color: hsl(180, 40%, 25%);
    }
  }

  .Section {
    border: 2px solid hsl(180, 100%, 46%);
    background-color: hsla(180, 100%, 3%, 0.85);
  }

  .Section__title {
    color: hsl(180, 100%, 46%);
  }
}
